<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bảng giá</title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Danh sách bảng giá từng thành phố</h3>
                <%if(success.length > 0){%>
                    <div class="alert alert-success">
                        <%= success %>
                    </div>
                    <%} else if(error.length > 0){%>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                        <%}%>
                <a href="/add_cities">
                    <button class="btn btn-primary"><i class="fa-solid fa-plus"></i>  Thêm thành phố </button>
                </a>
                <div class="panel panel-default">
                    <div class="table-responsive" style="text-align: center;">
                        <table class="table table-striped table-bordered">
                            <thead >
                            <tr>
                                <th style="width: 50px; text-align: center;">STT</th>
                                <th  style="text-align: center;">Tên thành phố</th>
                                <th  style="text-align: center;">Giá tiền</th>
                                <th  style="text-align: center;">Tùy biến</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <% for(let i=0; i < danhsach.length; i++) { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= danhsach[i].cityName %></td>
                                    <td><%= VND.format(danhsach[i].price) %></td>
                                    <td>
                                        <a href="/edit_cities/<%= danhsach[i].id %>" class="active" ui-toggle-class="">
                                            <i class="fa-solid fa-square-pen" style="font-size: 25px; color: #5CB85C;"></i>
                                        </a>
                                        <a href="/delete_cities/<%= danhsach[i].id %>" class="active" ui-toggle-class="">
                                            <i class="fa-solid fa-square-xmark js-buy-tickets" style="font-size: 25px; color: #D9534F;"></i>
                                        </a>
                                    </td>
                                </tr>

                                <div class="modal js-modal">
                                    <div class="modal-container js-modal-container">
                                        
                                        <header class="modal-header">
                                            Xóa thành phố!
                                        </header>
                              
                                        <div class="modal-body">
                                            <label for="tickets-quantity" class="modal-label">
                                                Bạn có muốn xóa thành phố này?
                                            </label>
                                            <div class="btn-js" style="margin-top:50px; margin-left:200px;">
                                                <a  id="buy-tickets" style="margin-right:15px; background-color: #DC3545;"> Xóa </a>
                                                <a id="buy-tickets" class="modal-close js-modal-close" style="background-color: #6C757D;"> Hủy </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <% } %>
                                </tbody>
                        </table>
                    </div>
            </div>
        </section>
    <!--main content end-->

</section>
    <%- include('../partials/footer') %>
</body>
</html>

