<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thống kê</title>
    <%- include('../partials/head') %>
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"
  ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Danh sách bán hàng ngày <%= time %></h3>

                <a href="/sales_daily">
                    <button class="btn btn-primary"> Sản phẩm bán ra</button>
                </a>
                <input type="hidden" name="" id="dates" value="<%= days %>">
                <div class="chartCard">
                    <div class="chartBox">
                      <canvas id="myChart"></canvas>
                      Bắt đầu:
                      <input type="date" name="" id="start" min="<%= dateStart %>" max="<%= middleOfWeek %>" value="<%= dateStart %>"/>
                      Kết thúc:
                      <input type="date" name="" id="end" min="<%= middleOfWeek %>" max="<%= dateEnd %>" value="<%= dateEnd %>"/>
                      <button onclick="filterDate()">Filter</button> <br />
                      <button onclick="resetDate()">Reset</button>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table id="myTable"  class="table table-striped table-bordered" style="text-align: center;">
                            <thead>
                            <tr>
                                <th style="width: 50px; text-align: center;">STT</th>
                                <th style="text-align: center;">Mã đơn hàng</th>
                                <th style="text-align: center; width: 180px;">Thời gian</th>
                                <th style="text-align: center;">Tổng tiền</th>
                                <th style="text-align: center;">Tùy biến</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <% for(let i=0; i < danhsach.length; i++) { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= danhsach[i]._id %></td>
                                    <td><%= danhsach[i].timeOut %></td>
                                    <td><%= VND.format(danhsach[i].total) %></td>
                                    <td>
                                        <a href="/sales_detail/<%= danhsach[i]._id %>" class="active" ui-toggle-class="">
                                            <i class="fa-solid fa-eye" style="font-size: 25px; color: #5CB85C;"></i>
                                        </a>
                                    </td>
                                </tr>
                                <%}%>
                                </tbody>
                        </table>
                    </div>
                </div>
                <div class="sales-price">
                    <b style="margin-right: 35px;">Tổng doanh thu:</b>
                    <p style="color: #DC3545; font-weight: 500;"><%= VND.format(money) %></p>
                </div>
            </div>
        </section>
    </section>
    <script>
        
        var startOfWeek = moment(Date.now()).zone("+07:00");
        var endOfWeek = moment(startOfWeek).add(6, 'd');

        var dates = [];
        var day = startOfWeek;

        while (day <= endOfWeek) {
            dates.push(day.format("YYYY-MM-DD"));
            day = day.clone().add(1, 'd');
        }
        console.log(dates);
        // setup
        //new Date("2023-06-14 00:00:00 GMT+07")
        const convert = dates.map((date) => new Date(date).setHours(0, 0, 0, 0));
    
        const datapoints = [1, 2, 3, 4, 5, 6, 7];
    
        const data = {
          //   labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
          labels: dates,
          datasets: [
            {
              label: "Weekly Sales",
              data: [1, 2, 3, 4, 5, 6, 7],
              backgroundColor: ["rgba(255, 26, 104, 0.2)"],
              borderColor: ["rgba(255, 26, 104, 1)"],
              borderWidth: 1,
            },
          ],
        };
    
        // config
        const config = {
          type: "bar",
          data,
          options: {
            scales: {
              x: {
                type: "time",
                time: {
                  unit: "day",
                },
              },
              y: {
                beginAtZero: true,
              },
            },
          },
        };
    
        // render init block
        const myChart = new Chart(document.getElementById("myChart"), config);
        function filterDate() {
          const start1 = new Date(document.getElementById("start").value);
          const start = start1.setHours(0, 0, 0, 0);
          const end1 = new Date(document.getElementById("end").value);
          const end = end1.setHours(0, 0, 0, 0);
    
          const filterDates = convert.filter(
            (date) => date >= start && date <= end
          );
          const startArray = convert.indexOf(filterDates[0]);
          const endArray = convert.indexOf(filterDates[filterDates.length - 1]);
    
          const copyDatapoints = [...datapoints];
          copyDatapoints.splice(endArray + 1, filterDates.length);
          copyDatapoints.splice(0, startArray);
    
          myChart.config.data.datasets[0].data = copyDatapoints;
          myChart.config.data.labels = filterDates;
          myChart.update();
        }
    
        function resetDate() {
          myChart.config.data.labels = convert;
          myChart.config.data.datasets[0].data = datapoints;
          myChart.update();
        }
    
        // Instantly assign Chart.js version
        const chartVersion = document.getElementById("chartVersion");
        chartVersion.innerText = Chart.version;
      </script>
    <!--main content end-->
    <%- include('../partials/footer') %>
</body>


<!-- Filter date -->

</html>

