<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thống kê</title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Số lượng bán ra theo ngày <%= time %></h3>

                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="text-align: center; margin-top: 15px;">
                            <thead>
                            <tr>
                                <th style="width: 50px; text-align: center;">STT</th>
                                <th style="text-align: center;">Sản phẩm</th>
                                <th style="text-align: center;">Số lượng bán</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <% for(let i = 0; i < danhsach.length; i++) {%>
                                        <% danhsach[i].productList.forEach(function(id) { %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= id.productName %></td>
                                        <td><%= danhsach[i].totalCount %></td>
                                    </tr>
                                    <% }); %>
                                    <%}%>
                                </tbody>
                        </table>
                    </div>

                    <a href="/sales"><button type="button" class="btn btn-info" ><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button></a>

                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
    <%- include('../partials/footer') %>
</body>
</html>

