<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Danh sách bình luận</title>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="table-agile-info">
            <h3>Bình luận của khách hàng</h3>
            <div class="panel panel-default">
                <div class="table-responsive" style="margin-top: 30px;">
                    <table id="myTable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 30px;">Duyệt</th>
                            <th style="width: 110px;">Tên khách hàng</th>
                            <th style="width: 300px;">Bình luận</th>
                            <th style="width: 100px;">Ngày bình luận</th>
                            <th style="width: 150px;">Sản phẩm</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% for(let i=0; i < comments.length; i++) { %>
                            <tr>
                                <td style="text-align: center;">
                                    <input type="button" id="" class="btn btn-primary" value="Duyệt">
                                </td>
                                <td><%= comments[i].userID.fullname %></td>
                                <td>
                                  <%= comments[i].commentInfo %>
                                </td>
                                <td style="text-align: center;"><%= comments[i].commentDate %></td>
                                <td><%= comments[i].productID.productName %></td>
                            </tr>
                          <% } %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </section>
      <!--main content end-->
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
