<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tất cả các sản phẩm</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="container">
        <div class="cart-p">
            <div class="cart-heading">
                    <h3>Tất cả các sản phẩm</h3>
            </div>
        </div>

        <div class="filter-catergory">
            <p>Lọc sản phẩm theo: </p>
            <div class="by-category">
                <select class="select-category">
                    <option>Chọn thể loại</option>
                    <option>Hành Động</option>
                    <option>Thể Thao</option>
                    <option>Mô Phỏng</option>
                    <option>Chiến Thuật</option>
                    <option>Phiêu Lưu</option>
                    <option>Nhập vai</option>
                </select>
            </div>

            <div class="by-producer">
                <select class="select-producer">
                    <option>Chọn nhà sản xuất</option>
                    <option>PS5</option>
                    <option>PS4</option>
                    <option>Nintendo</option>
                    <option>Xbox</option>
                </select>
            </div>

            <div class="by-price">
                <select class="select-price">
                    <option>Chọn mức giá tiền</option>
                    <option>100.000 - 300.000</option>
                    <option>300.000 - 700.000</option>
                    <option>700.000 - 1.000.000</option>
                    <option>1.000.000 - 3.000.000</option>
                </select>
            </div>

            <button class="btn btn-primary btn-filter"><i class="fa-solid fa-filter" style="margin-right: 10px;"></i> Lọc</button>
        </div>
        
        <div class="row row-cols-4">
            <% for(let i=0; i < danhsach.length; i++) { %>
                <div class="col product">
                    <div class="sp-box">
                        <a href="/product/<%= danhsach[i].slug %>">
                            <img src="images/<%= danhsach[i].productImage %>" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p><%= danhsach[i].productName %></p>
                            </div>
                            <div class="price">
                                <p><%= VND.format(danhsach[i].priceOut) %></p>
                            </div>
                        </a>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="paginationn">
            <ul class="pagination">
                <%  if(prevPage == null) { %>
                    <li style="display: none" class="page-item"><a class="page-link" href="?page=<%= prevPage %>">Trang trước</a></li>
                <% }else { %>
                    <li class="page-item"><a class="page-link" href="?page=<%= prevPage %>">Trang trước</a></li>
                <% } %>
                <%  for (let j = 1; j <= totalPages; j++) { %>
                    <% if (j == currentPage) { %>
                        <li class="page-item active"><a class="page-link" href="?page=<%= j %>"><%= j %></a></li>
                      <% } else { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= j %>"><%= j %></a></li>
                      <% } %>
                <%  } %>
                <%  if(nextPage == null) { %>
                    <li style="display: none" class="page-item"><a class="page-link" href="?page=<%= nextPage %>">Trang sau</a></li>   
                <% }else { %>   
                    <li class="page-item"><a class="page-link" href="?page=<%= nextPage %>">Trang sau</a></li>   
                 <%  } %>
            </ul>
        </div>
    </div>
    
     <%- include('../partials/footer') %>
</body>
</html>