<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pname %></title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="product-box">
        <div class="p-left">
            <div class="big-img">
                <img src="/images/<%= danhsach.productImage %>" style="text-align: center" height="300px"
                     width="100px" alt="">
            </div>
        </div>

        <div class="p-right">
            <div class="url">
                <a href="/">Trang chủ</a> >
                <% danhsach.categoryID.forEach(function(id){ %>
                <a href="/category/<%= id._id %>"><%= id.categoryName %>&nbsp;/</a>
                <% }); %>
            </div>
            <%if(add.length > 0){%>
                <p style="font-size: 14px; font-weight:600; color: green; margin: 2.5px 0px 0px 5px;"><%= add %></p>
            <%}%>
            <div class="pname" name="name"> 
                <%= danhsach.productName %>
            </div>
            
            <div class="pstatus">
                <p style="font-weight: bold">Tình trạng: &nbsp</p>
                    <% if(danhsach.productQuantity <= 0 ){ %>
                    <p>Hết Hàng</p>
                    <% }else{ %>
                    <p>Còn Hàng</p>
                    <% } %>
            </div>
            <div class="pid">
                <p style="font-weight: bold">Số lượng: &nbsp</p>
                <p><%= danhsach.productQuantity %></p>
            </div>
            <div class="pcategory">
                <p style="font-weight: bold">Thể loại: &nbsp</p>
                <% danhsach.categoryID.forEach(function(id){ %>
                <a style="text-decoration: none; color: black;" href="/category/<%= id._id %>"><p><%= id.categoryName %>&nbsp;</p></a>
                <% }); %>
            </div>
            <div class="pproducer">
                <p style="font-weight: bold">Nhà sản xuất: &nbsp</p>
                <a style="text-decoration: none; color: black;" href="/producer/<%= danhsach.producerID._id %>"><p><%= danhsach.producerID.producerName %>&nbsp;</p></a>
            </div>
            <div class="p-price" name="price">
                <%= VND.format(danhsach.priceOut) %>
                </div>

            <% if(danhsach.productQuantity!=0){ %>
            <form action="/add_to_cart" method="post">
            <div class="quantity">
                    <p>Số lượng :</p>
                    <input name="quantity" type="number" min="1" max="<%= danhsach.productQuantity %>" value="1">
                    <input name="product_id_hidden" type="hidden" value="<%= danhsach._id %>">
                    <input name="username" type="hidden" class="form-control" value="0">
                    <input name="user_id_hidden" type="hidden" value="<%= userid %>">
                </div>
                
                <div class="btn-box">
                    <% if(fullname==1){ %>
                        <button type="text" class="cart-btn"><a href="/login" style="text-decoration: none; color:white"><i class="fa-solid fa-cart-plus"></i> Thêm vào Giỏ</a></button>
                    <% }else{ %>
                        <button type="submit" class="cart-btn"><i class="fa-solid fa-cart-plus"></i> Thêm vào Giỏ</button>
                    <% } %>
                </div>
            </div>
            
            </form>
            <% }else{ %>
                <p class="btn btn-outline-success" style="margin-top: 10px; font-size: 18px;">Liên hệ shop để đặt hàng</p>
            <%}%>                
        </div>
    </div>

    <div class="description">
        <div class="row">
            <div class="col-4 p-title">
                <h3>Chi tiết sản phẩm</h3>
            </div>

            <div class="col-8 p-info" style="max-width: 800px; margin-top: 5px; line-height: 25px;">
                <%- danhsach.productDescription %>
            </div>
        </div>
    </div>
    <% if(fullname == 1){ %>
        <p>Vui lòng đăng nhập để bình luận</p>
        <%}else{%>
            <div class="container">
                <div class="comment">
                    <h3>Bình luận</h3>
                    <form action="/comment" method="post">
                        <input name="commentProduct" type="hidden" class="form-control" value="<%= danhsach._id  %>">
                        <input name="commentName" type="hidden" class="form-control" value="<%= fullname %>">
                        <input name="username" type="hidden" class="form-control" value="0">
                        <textarea name="commentInfo" class="comment_info" placeholder="Nhập nội dung bình luận"></textarea>
                        <button  type="submit" class="send-comment"><i class="fa-solid fa-location-arrow"></i> Gửi bình luận
                        </button>
                    </form>

                    <div class="row style_comment">
                        <div class="col-md-2">
                            <img style="width: 80px;" src="/images/avataricon.png">
                        </div>
                        <div class="col-md-10" style="margin-left: -100px;">
                            <p style="line-height: 0.2;"><b>Kỳ Phong</b></p>
                            <p style="color: #6B7684;">Bình luận vào lúc: 09:23 19/06</p>
                            <p>Game chơi rất là tuyệt!</p>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
     <%- include('../partials/footer') %>
</body>
</html>