<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <div class="cart-p">
            <div class="cart-heading">
                <h3>Kết quả tìm kiếm</h3>
            </div>

            <div class="filter-catergory">
                <p>Lọc sản phẩm theo: </p>
                <div class="by-category">
                    <select class="select-category">
                        <option>Chọn thể loại</option>
                        <option>Hành Động</option>
                        <option>Thể Thao</option>
                        <option>Mô Phỏng</option>
                        <option>Chiến Thuật</option>
                        <option>Phiêu Lưu</option>
                        <option>Nhập vai</option>
                    </select>
                </div>
    
                <div class="by-producer">
                    <select class="select-producer">
                        <option>Chọn nhà sản xuất</option>
                        <option>PS5</option>
                        <option>PS4</option>
                        <option>Nintendo</option>
                        <option>Xbox</option>
                    </select>
                </div>
    
                <div class="by-price">
                    <select class="select-price">
                        <option>Chọn mức giá tiền</option>
                        <option>100.000 - 300.000</option>
                        <option>300.000 - 700.000</option>
                        <option>700.000 - 1.000.000</option>
                        <option>1.000.000 - 3.000.000</option>
                    </select>
                </div>
    
                <button class="btn btn-primary btn-filter"><i class="fa-solid fa-filter" style="margin-right: 10px;"></i> Lọc</button>
            </div>
            
            <% if (danhsach.length> 0){ %>
            <div class="row row-cols-4">
                <% for(let i=0; i < danhsach.length; i++) { %>
                    <div class="col-product"> 
                        <div class="sp-box">
                            <a href="/product/<%= danhsach[i].slug %>">
                                <img src="/images/<%= danhsach[i].productImage %>" style="text-align: center" height="300px" width="100px" alt="">
                                <div class="p-title">
                                    <p><%= danhsach[i].productName %></p>
                                </div>
                                <div class="price">
                                    <p><%= VND.format(danhsach[i].priceOut) %></p>
                                </div>
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
            <% } else { %>
                <div class="cart-table">
                    <p style="font-size: 18px; font-weight:500">KHÔNG CÓ KẾT QUẢ TÌM KIẾM!!</p>
                  </div> 
                <div class="container" style="display:flex; justify-content:center;">
                    <div class="cart-table-img">
                      <img src="/images/error-found.png" style="width: 300px;" alt="">
                    </div>
                </div>
            <% } %>

        </div>
        </div>
    <%- include('../partials/footer') %>
</body>
</html>
</body>
</html>