<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <div class="cart-p">
            <div class="cart-heading">
                <h3>Kết quả tìm kiếm cho từ khoá: <b style="color: black;">"<%= kw %>"</b></h3>
            </div>
            <% if (danhsach.length> 0){ %>
            <div class="filter-catergory">
                <p>Lọc sản phẩm theo: </p>
                <div class="by-price">
                    <select class="select-price" id="select" onchange="sortingValue()">
                        <option value="Default">Chọn mức giá tiền</option>
                        <option value="LowToHigh">Tăng dần</option>
                        <option value="HighToLow">Giảm dần</option>
                    </select>
                </div>
            </div>
            <p style="display: none;" id="length"><%= danhsach.length %></p>
            <div class="row row-cols-4 items">
                <% for(let i=0; i < danhsach.length; i++) { %>
                    <div class="col-product" data-price="<%= danhsach[i].priceOut %>">
                        <div class="sp-box">
                            <a href="/product/<%= danhsach[i].slug %>">
                                <img src="/images/<%= danhsach[i].productImage %>" style="text-align: center" height="300px" width="100px" alt="">
                                <div class="p-title">
                                    <p><%= danhsach[i].productName %></p>
                                </div>
                                <div class="price">
                                    <p><%= VND.format(danhsach[i].priceOut) %></p>
                                </div>
                            </a>
                        </div>
                    </div>
                <% } %>  
            </div>
            <% } else { %>
                <div class="cart-table">
                    <p style="font-size: 18px; font-weight:500">KHÔNG CÓ KẾT QUẢ TÌM KIẾM!!</p>
                  </div> 
                <div class="container" style="display:flex; justify-content:center;">
                    <div class="cart-table-img">
                      <img src="/images/error-found.png" style="width: 300px;" alt="">
                    </div>
                </div>
            <% } %>
        </div>
        </div>
<script>
    let field = document.querySelector('.items');
let products = Array.from(field.querySelectorAll('.col-product'));
let length = document.getElementById("length").innerHTML;
let select = document.getElementById('select');

let prices = [];
for (let i = 0; i < length; i++) {
    let price = products[i].getAttribute("data-price");
    prices.push(price);
}

for (let i = 0; i < length; i++) {
    products[i].setAttribute("data-price", prices[i]);
}

function sortingValue() {
    if (select.value == 'Default') {
        while (field.firstChild) {
            field.removeChild(field.firstChild);
        }
        field.append(...products);
    } else if (select.value == 'HighToLow') {
        sortProducts(field, products, true);
    } else if (select.value == 'LowToHigh') {
        sortProducts(field, products, false);
    }
}

function sortProducts(field, products, asc) {
    let dm = asc ? -1 : 1;
    let sortedProducts = products.sort((a, b) => {
        const priceA = Number(a.getAttribute('data-price'));
        const priceB = Number(b.getAttribute('data-price'));
        return priceA > priceB ? (1 * dm) : (-1 * dm);
    });
    while (field.firstChild) {
        field.removeChild(field.firstChild);
    }
    field.append(...sortedProducts);
}
field.classList.add('row-cols-4');
</script>
    <%- include('../partials/footer') %>
</body>
</html>
</body>
</html>