<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thống kê</title>
    <%- include('partials/head') %>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
</head>
<body>
    <!--sidebar start-->
    <%- include('partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="market-updates">

                <% if(admin_role == 0|| admin_role == 3 ) { %>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-2">
                        <a href="/customers">
                        <div class="col-md-4 market-update-right">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h4>Khách hàng</h4>
                            <h3><%= number %></h3>
                            <p>Số lượt đăng ký tài khoản</p>
                        </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <%}%>

                <% if(admin_role == 0|| admin_role == 3 ) { %>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-1">
                        <a href="/comment">
                        <div class="col-md-4 market-update-right">
                            <i style="color: white;" class="fa fa-comments fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h4>Bình luận</h4>
                            <h3><%= comment %></h3>
                            <p>Số lượng bình luận</p>
                        </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <%}%>

                <% if(admin_role == 0|| admin_role == 2 ) { %>
                  <div class="col-md-3 market-update-gd">
                      <div class="market-update-block clr-block-4">
                          <a href="/new_orders_today">
                          <div class="col-md-4 market-update-right">
                              <i class="fas fa-file-invoice-dollar"></i>
                          </div>
                          <div class="col-md-8 market-update-left">
                                  <h4>Đơn mới trong ngày</h4>
                                  <h3><%= orders %></h3>
                                  <p>Số lượng đơn chưa duyệt</p>
                          </div>
                          </a>
                          <div class="clearfix"></div>
                      </div>
                  </div>
                  <%}%>

                <% if(admin_role == 0|| admin_role == 2 ) { %>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-4">
                        <a href="/new_orders">
                        <div class="col-md-4 market-update-right">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                                <h4>Đơn chưa duyệt</h4>
                                <h3><%= order %></h3>
                                <p>Số lượng đơn chưa duyệt</p>
                        </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <%}%>

                <% if(admin_role == 0) { %>
                <div class="graphBox">
                  <div class="box" style="padding: 0;">
                    <div class="bestSells-Box">
                      <div class="table-agile-info">
                        <h3 style="text-align: center;">Sản phẩm bán chạy nhất</h3>
                        <div class="table-responsive">
                          <table class="table table-striped table-bordered table-bestSells">
                            <thead>
                              <th>Sản phẩm</th>
                              <th>Hình ảnh</th>
                              <th>Số lượng bán ra</th>
                            </thead>
    
                            <tbody>
                              <% for(let i=0; i < bestSale.length; i++) { %>
                                <% bestSale[i].productList.forEach(function(id) { %>
                              <tr>
                                <td style="text-align: left;"><%= id.productName %></td>
                                <td><img src="/images/<%= id.productImage %>"   width="50" height="80" alt=""></td>
                                <td><%= bestSale[i].totalCount %></td>
                              </tr>
                              <% }); %>
                              <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <h3 style="text-align: center;">Doanh thu từng tháng năm 2023</h3>
                    <p id="monthlyDataIn" style="display: none;"><%= monthlyDataIn %></p>
                    <p id="monthlyDataOut" style="display: none;"><%= monthlyDataOut %></p>
                    <p id="monthlyData" style="display: none;"><%= monthlyData %></p>
                    <canvas id="myChart" style="margin-top: 15px;"></canvas>
                  </div>
                </div>
                <%}%>

                <div class="other-Box">
                  <div class="box">
                    <div class="outOfStock-Box">
                      <div class="table-agile-info">
                        <h3 style="text-align: center;">Sản phẩm sắp hết hàng</h3>
                        <div class="table-responsive">
                          <table id="myTable" class="table table-striped table-bordered table-outOfStock">
                            <thead>
                              <th>STT</th>
                              <th>Tên sản phẩm</th>
                              <th>Hình ảnh</th>
                              <th>Số lượng</th>
                              <th>Trạng thái</th>
                            </thead>
    
                            <tbody>
                              <% for(let i=0; i < outOfStock.length; i++) { %>
                              <tr>
                                <td><%= i+1 %></td>
                                <td><%= outOfStock[i].productName %></td>
                                <td><img src="/images/<%= outOfStock[i].productImage %>"   width="50" height="80" alt=""></td>
                                <td><%= outOfStock[i].productQuantity %></td>
                                <td><% if(outOfStock[i].productQuantity == 0){ %>
                                  <p class="btn btn-warning">Hết hàng</p>
                                <%} else { %>
                                  <p class="btn btn-warning">Sắp hết hàng</p>
                                  <%}%>
                                </td>
                              </tr>
                              <% } %>
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
    </section>
    <!-- Biểu đồ cột -->
    <script src="../../../public/js/vi.js"></script>
    <script>
        const valueIn = document.getElementById("monthlyDataIn").innerHTML;
        const monthlyDataIn = valueIn.split(",");
        const [var1In, var2In, var3In, var4In, var5In, var6In, var7In, var8In, var9In, var10In, var11In, var12In] = monthlyDataIn;

        const valueOut = document.getElementById("monthlyDataOut").innerHTML;
        const monthlyDataOut = valueOut.split(",");
        const [var1Out, var2Out, var3Out, var4Out, var5Out, var6Out, var7Out, var8Out, var9Out, var10Out, var11Out, var12Out] = monthlyDataOut;

        const value = document.getElementById("monthlyData").innerHTML;
        const monthlyData = value.split(",");
        const [var1, var2, var3, var4, var5, var6, var7, var8, var9, var10, var11, var12] = monthlyData;

        var startOfYear = moment().month(0);
        var endOfYear = moment().month(11);
        var months = [];
        var month = startOfYear;

        while (month <= endOfYear) {
          months.push(month.format("YYYY-MM"));
          month = month.clone().add(1, "M");
        }
        const data = {
          labels: months,
          datasets: [
            {
              label: "Tiền nhập",
              data: [var1In, var2In, var3In, var4In, var5In, var6In, var7In, var8In, var9In, var10In, var11In, var12In],
              backgroundColor: "rgba(63, 81, 181, 1)",
              borderColor: "rgba(0,0,0)",
              borderWidth: 1,
            },
            {
              label: "Tiền bán",
              data: [var1Out, var2Out, var3Out, var4Out, var5Out, var6Out, var7Out, var8Out, var9Out, var10Out, var11Out, var12Out],
              backgroundColor: "rgba(244, 67, 54, 1)",
              borderColor: "rgba(0,0,0)",
              borderWidth: 1,
            },
            {
              label: "Doanh thu",
              data: [var1, var2, var3, var4, var5, var6, var7, var8, var9, var10, var11, var12],
              backgroundColor: "rgba(76, 175, 80, 1)",
              borderColor: "rgba(0,0,0)",
              borderWidth: 1,
            },
          ],
        };
        // config
        const config = {
          type: "bar",
          data,
          options: {
            scales: {
              x: {
                type: "time",
                time: {
                  unit: "month",
                  displayFormats: {
                    month: "M"
                  }
                },
              },
              y: {
                beginAtZero: true,
              },
            },
          },
        };
        // render init block
        const myChart = new Chart(document.getElementById("myChart"), config);
        // Instantly assign Chart.js version
        const chartVersion = document.getElementById("chartVersion");
        chartVersion.innerText = Chart.version;
    </script>
    <!--main content end-->
    <%- include('partials/footer') %>
</body>


<!-- Filter date -->

<!-- Biểu đồ -->


</html>

