<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thống kê</title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Chi tiết đơn hàng</h3>
                <div class="info-orders">
                    <p><b>Mã đơn hàng:</b> <%= danhsach._id %> </p>
                    <p><b>Người nhận:</b> <%= danhsach.shippingName %> </p>
                    <p><b>Địa chỉ nhận hàng:</b> <%= danhsach.shippingAddress %>&#44;&nbsp;<%= danhsach.shippingDistrict %>&#44;&nbsp;<%= danhsach.shippingCity %></p>
                    <p><b>Hình thức thanh toán:</b> <%= danhsach.paymentMethod %> </p>
                    <p><b>Ngày đặt:</b> <%= danhsach.timeIn %> </p>
                    <p><b>Tình trạng:</b> <% if(danhsach.orderStatus == 0){ %> Đang chờ xác nhận <% }else
                        if(danhsach.orderStatus == 1){ %> Đã được xác nhận <% }else if(danhsach.orderStatus ==
                        2){ %> Đang đóng gói <% }else if(danhsach.orderStatus == 3){ %> Đang vận chuyển <% }else if(danhsach.orderStatus == 4){ %>Đã nhận hàng<%}else{%>Đã huỷ<%}%> </p>
                </div>
                <div class="table-responsive" style="margin-top: 15px;">
                    <table id="myTable" class="table table-striped table-bordered" style="text-align: center;">
                        <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% danhsach.items.forEach(function(id) { %>
                            <tr>
                                <td><%= id.productID.productName %></td>
                                <td><img src="/images/<%= id.productID.productImage %>" style="text-align: center" height="150px"
                                    width="100px" alt=""></td>
                                <td><%= VND.format(id.productID.priceOut) %></td>
                                <td><%= id.quantity %></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                    <div class="cart-price">
                        <table>
                            <tr>
                                <td style="font-weight: bold;">Tổng giá sản phẩm:</td>
                                <td>&nbsp;<%= VND.format(money) %></td>
                            </tr>                
                            <tr>
                                <td style="font-weight: bold;">Phí vận chuyển:</td>
                                <td style="padding-left: 40px;"><%= VND.format(danhsach.shippingFee) %></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Tổng thành tiền:</td>
                                <td>&nbsp;<%= VND.format(danhsach.total) %></td>
                            </tr>
                        </table>
                    </div>
                    <% if(danhsach.orderStatus == 0){ %>
                        <a href="/new_orders">
                            <button type="button" class="btn btn-info"><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button>
                        </a>
                    <% }else if(danhsach.orderStatus == 1){ %> 
                        <a href="/accept_orders">
                            <button type="button" class="btn btn-info"><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button>
                        </a> 
                    <% }else if(danhsach.orderStatus == 2){ %> 
                        <a href="/all_orders">
                            <button type="button" class="btn btn-info"><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button>
                        </a>  
                    <% }else if(danhsach.orderStatus == 3){ %> 
                        <a href="/all_orders">
                            <button type="button" class="btn btn-info"><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button>
                        </a>  
                    <% }else if(danhsach.orderStatus == 4){ %>
                        <a href="/done_orders">
                            <button type="button" class="btn btn-info"><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button>
                        </a>  
                    <%}else{%>
                        <a href="/cancel_orders">
                            <button type="button" class="btn btn-info"><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button>
                        </a> 
                    <%}%>
                </div>
            </div>
        </section>
    <!--main content end-->

</section>
    <%- include('../partials/footer') %>
</body>
</html>

