<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giỏ hàng</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <div class="cartt">
        <div class="cart-heading">
          <img
            style="margin-top: 25px; margin-right: 10px; width: 25px; height: 25px;" src="/images/carttt.png" alt="" />
          <h3 style="margin-top: 18px;">Giỏ hàng</h3>
        </div>
        <div class="cart-table">
          <div id="leftbox">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th style="border-right:none;">Đơn giá</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < danhsach.length; i++) { %> <%
                danhsach[i].productList.forEach(function(pid) { %>
                  <td style="width: 155px;">
                    <img
                      style="width: 60px; height: 80px;"
                      src="/images/<%= pid.productImage %>"
                      alt=""
                    />
                  </td>
                  <td style="width: 320px;">
                    <p style="line-height: 5px"><%= pid.productName %></p>
                  </td>
                  <td style="width: 125px">
                    <p style="color: #dc4e45"><%= VND.format(pid.priceOut) %> </p>
                  </td>
                </tr>
                <% }); %> <% } %>
              </tbody>
            </table>
          </div>

          <div id="rightbox">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

              <tbody>
                <% for(let i=0; i < danhsach.length; i++) { %> <%
                danhsach[i].items.forEach(function(id) { %>
                <tr>
                  <td style="width: 225px; height: 96.75px;">
                    <form>
                        <input name="product_id_hidden" type="hidden" value="<%= id.productId %>"/>
                        <input name="user_id_hidden" type="hidden" value="<%= userid %>"/>
                        <input type="number" min="1" max="" value="<%= id.quantity %>" name="quantity" style="width: 45px; height: 30px; padding-left: 10px"/>
                        <input type="submit" value="Cập nhật" name="update_quantity" class="btn btn-primary update-quantity" style="margin-bottom: 5px; margin-left: 5px"/>
                    </form>
                  </td>
                  <td style="width: 125px;">
                    <p style="color: #dc4e45"><%= VND.format(id.total) %></p>
                  </td>
                  <td style="width: 200px;">
                    <a href="/" style="text-decoration: none;;" class="btn btn-danger"><i class="fa-regular fa-trash-can" style="color: white;"></i> Xóa sản phẩm</a>
                  </td>
                </tr>
                <% }); %> <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <div class="cart-price">
                    <h4>Thông tin đơn hàng</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tổng tiền:</td>
                                <td style="text-align: right; color:#DC4E45; font-weight:700;">35.000.000 đ</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pay">
                    <a href="/">
                        <button class="btn btn-secondary btn-pay">THANH TOÁN</button>
                    </a>
                    </div>
                    <div class="back-home">
                        <a href="/">
                            <button class="btn btn-outline-dark btn-back-home">TIẾP TỤC MUA HÀNG</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
