<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết đơn hàng</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="profile">
            <div class="row">
                <div class="col-3">
                    <div class="side-nav" style="margin-bottom: 85px">
                        <ul class="nav-links">
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/profile/<%= userid %>"  ><i class="fa-solid fa-user"></i>Tài khoản</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/orders/<%= userid %>"><i class="fa-solid fa-cart-shopping"></i>Lịch sử đơn hàng</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="password/<%= userid %>"><i class="fa-solid fa-user-lock"></i>Mật khẩu và bảo mật</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-solid fa-heart"></i>Sản phẩm yêu thích</a>
                            </li>
                            <div class="animation"></div>
                        </ul>
                    </div>
                </div>
    
                <div class="col-9">
                    <div class="orders">
                        
                        <div class="order-heading">
                            <h3>Chi tiết đơn hàng</h3>
                            <p><b>Mã đơn hàng:</b> <%= danhsach._id %> </p>
                            <p><b>Địa chỉ nhận hàng:</b> <%= danhsach.shippingAddress %>&#44;&nbsp;<%= danhsach.shippingDistrict %>&#44;&nbsp;<%= danhsach.shippingCity %></p>
                            <p><b>Hình thức thanh toán:</b> <%= danhsach.paymentMethod %> </p>
                            <p><b>Ngày đặt:</b> <%= danhsach.timeIn %> </p>
                            <p><b>Tình trạng:</b> <% if(danhsach.orderStatus == 0){ %> Đang chờ xác nhận <% }else
                                if(danhsach.orderStatus == 1){ %> Đã xác nhận và đóng gói <% }else if(danhsach.orderStatus ==
                                2){ %> Đang vận chuyển <% }else if(danhsach.orderStatus == 3){ %> Đã nhận hàng <% }else if(danhsach.orderStatus == 4){ %>Đã huỷ<%}%> </p>
                        </div>
                        <div class=orders-table>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% danhsach.items.forEach(function(id) { %>
                                    <tr>
                                        <td><%= id.productID.productName %></td>
                                        <td><img src="/images/<%= id.productID.productImage %>" style="text-align: center" height="150px"
                                            width="100px" alt=""></td>
                                        <td><%= VND.format(id.productID.priceOut) %></td>
                                        <td><%= id.quantity %></td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-price">
                            <table>
    
                                <tr>
                                    <td style="font-weight: bold;">Tổng giá sản phẩm: </td>
                                    <td>&nbsp;<%= VND.format(money) %></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Phí vận chuyển:</td>
                                    <td style="padding-left: 20px;"><%= VND.format(danhsach.shippingFee) %></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Tổng thành tiền:</td>
                                    <td>&nbsp;<%= VND.format(danhsach.total) %></td>
                                </tr>
    
                            </table>
                        </div>
                        <div class="two-btn" style="padding-bottom: 30px;">
                            <div class="row">
                                <div class="col">
                                    <a href="/orders/<%= userid %>">
                                        <button class="btn btn-secondary btn-back">Quay lại</button>
                                    </a>
                                </div>
                                <%if(danhsach.orderStatus == 2){%>
                                    <div class="col">
                                        <form action="/get_order/<%= danhsach._id %>" method="post">
                                            <button class="btn btn-success" style="width: 80px;"><b>Nhận đơn hàng</b></button>
                                        </form>
                                    </div>
                                <%}%>
                                <%if(danhsach.orderStatus == 0){%>
                                    <div class="col">
                                        <a href="#">
                                            <button class="btn btn-secondary btn-next">Huỷ đơn hàng</button>
                                        </a>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

     <%- include('partials/footer') %>
</body>
</html>