<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết đơn hàng</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="profile">
            <div class="row">
                <div class="col-3">
                    <div class="side-nav" style="margin-bottom: 85px">
                        <ul class="nav-links">
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/profile/<%= userid %>"  ><i class="fa-solid fa-user"></i>Tài khoản</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/orders/<%= userid %>"><i class="fa-solid fa-cart-shopping"></i>Lịch sử đơn hàng</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="password/<%= userid %>"><i class="fa-solid fa-user-lock"></i>Mật khẩu và bảo mật</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-solid fa-heart"></i>Sản phẩm yêu thích</a>
                            </li>
                            <div class="animation"></div>
                        </ul>
                    </div>
                </div>
    
                <div class="col-9">
                    <div class="orders">
                        
                        <div class="order-heading">
                            <h3>Chi tiết đơn hàng</h3>
                            <p><b>Mã đơn hàng:</b> <%= danhsach._id %> </p>
                            <p><b>Địa chỉ nhận hàng:</b> <%= danhsach.shippingAddress %>&#44;&nbsp;<%= danhsach.shippingDistrict %>&#44;&nbsp;<%= danhsach.shippingCity %></p>
                            <p><b>Hình thức thanh toán:</b> <%= danhsach.paymentMethod %> </p>
                            <p><b>Ngày đặt:</b> <%= danhsach.timeIn %> </p>
                            <p><b>Tình trạng:</b> <% if(danhsach.orderStatus == 0){ %> Đang chờ xác nhận <% }else
                                if(danhsach.orderStatus == 1){ %> Đã xác nhận và đóng gói <% }else if(danhsach.orderStatus ==
                                2){ %> Đang vận chuyển <% }else if(danhsach.orderStatus == 3){ %> Đã nhận hàng <% }else if(danhsach.orderStatus == 4){ %>Đã huỷ<%}%> </p>
                        </div>
                        <div class=orders-table>
                            <table class="table table-bordered table-hover table-striped" style="text-align: center; vertical-align: middle;">
                                <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% danhsach.items.forEach(function(id) { %>
                                    <tr>
                                        <td><%= id.productID.productName %></td>
                                        <td><img src="/images/<%= id.productID.productImage %>" style="width:50px; height: 80px;" alt=""></td>
                                        <td><%= VND.format(id.productID.priceOut) %></td>
                                        <td><%= id.quantity %></td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="total-price">
                            <table>
    
                                <tr>
                                    <td style="font-weight: bold; padding-right: 50px; padding-bottom: 10px;">Tổng giá sản phẩm: </td>
                                    <td style="padding-right: 50px;padding-bottom: 10px;"><%= VND.format(money) %></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;padding-bottom: 10px;">Phí vận chuyển:</td>
                                    <td style="padding-left: 20px;padding-bottom: 10px;"><%= VND.format(danhsach.shippingFee) %></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;padding-bottom: 10px;">Tổng thành tiền:</td>
                                    <td style="padding-bottom: 10px;"><%= VND.format(danhsach.total) %></td>
                                </tr>
    
                            </table>
                        </div>
                        <div class="orderDetails-btn">
                                    <a href="/orders/<%= userid %>">
                                        <button class="btn btn-secondary btn-back" style="width: 120px; font-size: 25px; font-weight: 500; margin-right: 15px;">Quay lại</button>
                                    </a>
                           
                                <%if(danhsach.orderStatus == 2){%>
                                        <form action="/get_order/<%= danhsach._id %>" method="post">
                                            <button class="btn btn-success" style="width: 220px; font-size: 25px; font-weight: 500; margin-right: 15px;"><b>Nhận đơn hàng</b></button>
                                        </form>
                                <%}%>
                                <%if(danhsach.orderStatus == 0){%>
                                        <a href="#">
                                            <button class="btn btn-secondary btn-cancel js-buy-tickets" style="font-size: 25px; font-weight: 500;">Huỷ đơn hàng</button>
                                        </a>
                                <%}%>

                                <div class="modal js-modal">
                                    <div class="modal-container js-modal-container">
                                        
                                        <header class="modal-header">
                                            Bạn muốn hủy đơn hàng?
                                        </header>
                              
                                        <div class="modal-body">
                                            <label for="tickets-quantity" class="modal-label">
                                                Lý do hủy đơn hàng: 
                                            </label>
                                            <input type="text" class="text-cancel" ></input>
                                            <div class="btn-js">
                                                <a href="#" id="buy-tickets" style="margin-right:15px; background-color: #DC3545;"> Hủy đơn </a>
                                                <a id="buy-tickets" class="modal-close js-modal-close" style="background-color: #6C757D;"> Thoát </a>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <%- include('partials/footer') %>
</body>
</html>