<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pname %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <% for(let i=0; i < danhsach.length; i++) { %>
        <% danhsach[i].productList.forEach(function(id) { %>
    <div class="product-box">
        <div class="p-left">
            <div class="big-img">
                <img src="/images/<%= id.productImage %>" style="text-align: center" height="300px"
                     width="100px" alt="">
            </div>
        </div>

        <div class="p-right">
            <div class="url">
                <a href="/">Trang chủ</a> >
                <% danhsach[i].categoryList.forEach(function(id) { %>
                    <a href="/category/<%= id._id %>"><%= id.categoryName %>&nbsp;/</a>
                <% }); %>
            </div>
            <div class="pname" name="name"> 
                <%= id.productName %>
                
                <div class="p-favorite">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <div class="pstatus">
                <p style="font-weight: bold">Tình trạng: &nbsp</p>
                    <% if(id.productQuantity <= 0 ){ %>
                    <p>Hết Hàng</p>
                    <% }else{ %>
                    <p>Còn Hàng</p>
                    <% } %>
            </div>
            <div class="pid">
                <p style="font-weight: bold">Số lượng: &nbsp</p>
                <p><%= id.productQuantity %></p>
            </div>
            <div class="pcategory">
                <p style="font-weight: bold">Thể loại: &nbsp</p>
                <% danhsach[i].categoryList.forEach(function(id) { %>
                <a style="text-decoration: none; color: black;" href="/category/<%= id._id %>"><p><%= id.categoryName %>&nbsp;</p></a>
                <% }); %>
            </div>
            <div class="pproducer">
                <p style="font-weight: bold">Nhà sản xuất: &nbsp</p>
                <% danhsach[i].producerList.forEach(function(id) { %>
                <p><%= id.producerName %>&nbsp</p>
                <% }); %>
            </div>
            <div class="p-price" name="price">
                <%= VND.format(id.priceOut) %>
                </div>

            <form action="/add_to_cart" method="post">
            <div class="quantity">
                    <p>Số lượng :</p>
                    <input name="quantity" type="number" min="1" max="<%= pquantity %>" value="1">
                    <input name="product_id_hidden" type="hidden" value="<%= danhsach[i]._id %>">
                    <input name="username" type="hidden" class="form-control" value="0">
                    <input name="user_id_hidden" type="hidden" value="<%= userid %>">
                </div>
                
                <div class="btn-box">
                    <% if(danhsach[i].total==0){ %>
                        <button type="text" class="cart-btn" style="color:white">Liên hệ shop để đặt hàng</button>
                        <% }else{ %>
                            <% if(fullname==1){ %>
                                <button type="text" class="cart-btn"><a href="/login" style="text-decoration: none; color:white"><i class="fa-solid fa-cart-plus"></i> Thêm vào Giỏ</a></button>
                                <% }else{ %>
                                    <button type="submit" class="cart-btn"><i class="fa-solid fa-cart-plus"></i> Thêm vào Giỏ</button>
                                    <% } %>
                            <% } %>
                </div>
            </div>
            
            </form>
        </div>
    </div>

    <div class="description">
        <div class="row">
            <div class="col-3 p-title">
                <h5>Chi tiết sản phẩm</h5>
            </div>

            <div class="col-8 p-info">
                <%- id.productDescription %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="comment">
            <h3>Bình luận</h3>
            <form action="#">
                <!-- {{-- <input type="hidden" name="customer_id" class="customer_id" value="{{$customer_id}}">--}} -->
                <textarea name="comment" class="comment_info" placeholder="Nhập nội dung bình luận"></textarea>
                <button type="button" class="send-comment"><i class="fa-solid fa-location-arrow"></i> Gửi bình luận
                </button>
            </form>
            <!-- <div id="notify_comment"></div>
            <form>
                <input type="hidden" name="game_id" class="game_id" value="">
                <div id="comment_show"></div>
            </form> -->
        </div>
    </div>
    <% }); %>
    <% } %>
     <%- include('partials/footer') %>
</body>
</html>