<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin tài khoản</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="profile">
            <div class="row">
                <div class="col-3" style="margin-bottom: 80px;">
                    <div class="side-nav">
                        <ul class="nav-links">
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/profile/<%= userid %>" ><i class="fa-solid fa-user"></i>Tài khoản</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/orders/<%= userid %>"><i class="fa-solid fa-cart-shopping"></i>Lịch sử đơn hàng</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/password/<%= userid %>"><i class="fa-solid fa-user-lock"></i>Mật khẩu và bảo mật</a>
                            </li>
                            <div class="animation"></div>
                        </ul>
                    </div>
                </div>
    
                <div class="col-9">
                    <div class="account">
                        <h3>Tổng quan</h3>
                        <div class="row user-detail">
                            <div class="col-2">
                                <p>Họ và tên</p>
                                <p style="font-weight: 600;"><%= fullname %></p>
                            </div>
                            <div class="col-4">
                                <p>Địa chỉ email</p>
                                <p style="font-weight: 600;"><%= email %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <%- include('partials/footer') %>
</body>
</html>